SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhma29rbGd6bHNpZnlsZnZ0bHJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4NTU3NjYsImV4cCI6MjA5NDQzMTc2Nn0.tUPu6zP1l9Cq2ZLxtdazjOoMHMkny760DSErIrIEOaM"
SUPABASE_URL="https://xfkoklgzlsifylfvtlrg.supabase.co"
VITE_SUPABASE_PROJECT_ID="xfkoklgzlsifylfvtlrg"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhma29rbGd6bHNpZnlsZnZ0bHJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4NTU3NjYsImV4cCI6MjA5NDQzMTc2Nn0.tUPu6zP1l9Cq2ZLxtdazjOoMHMkny760DSErIrIEOaM"
VITE_SUPABASE_URL="https://xfkoklgzlsifylfvtlrg.supabase.co"
